[Unit]
Description=keymapper service
Requires=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=/usr/bin/keymapper --update --no-notify

[Install]
WantedBy=default.target
